<template>
  <Header
      :currentSortMethod="sortMethodSelected"
      @changeSortMethod="changeSortMethod"
  />

  <SearchBar
      :currentSearchQuery="searchQuery"
      @changeSearchQuery="changeSearchQuery"
  />

  <div v-if="error"
       class="alert alert-danger">
      Ups, coś poszło nie tak. {{ error }}
  </div>

  <ProductsGridLoading
      v-else-if="pending" />

  <ProductsGrid
      v-else
      :products="products"
  />
</template>

<script setup lang="ts">
import 'bootstrap/scss/bootstrap.scss';

const sortMethodSelected = ref<string>('price-asc');
const searchQuery = ref<string>('');
let searchQuery_executeTimeout: null | NodeJS.Timeout  = null;

const {data: products, error, pending} =
    await useFetch(`/api/get-products`, {
      query: {
        search: searchQuery,
        sort: sortMethodSelected
      },
      watch: [
        sortMethodSelected,
        searchQuery
      ],
    });

const changeSortMethod = (sortMethod: string) => {
  sortMethodSelected.value = sortMethod;
}

const changeSearchQuery = (query: string) => {
  if (searchQuery_executeTimeout) {
    clearTimeout(searchQuery_executeTimeout);
  }
  searchQuery_executeTimeout = setTimeout(() => {
    searchQuery.value = query;
  }, 500);
}
</script>

<style>
body {
  background-color: var(--bs-gray-200);
}
</style>
