<template>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <span class="navbar-brand">Shopware Listing</span>

      <div class="d-block">
        <select :value="currentSortMethod"
                class="form-select"
                @change="changeHandler">
          <option selected value="price-asc">
            Najtańsze
          </option>
          <option value="price-desc">
            Najdroższe
          </option>
        </select>
      </div>

    </div>
  </nav>
</template>

<script lang="ts" setup>
interface Props {
  currentSortMethod: string,
}

const {currentSortMethod} = defineProps<Props>();
const emit = defineEmits(['changeSortMethod']);

const changeHandler = (event: Event) => {
  const target: HTMLInputElement = event.target as HTMLInputElement;
  emit('changeSortMethod', target.value);
}
</script>
