<template>
  <section class="container grid pt-4 pb-4">
    <div class="row">

      <div class="col-12 col-md-4 mb-4">
        <ProductBoxLoading/>
      </div>

      <div class="col-12 col-md-4 mb-4">
        <ProductBoxLoading/>
      </div>

      <div class="col-12 col-md-4 mb-4">
        <ProductBoxLoading/>
      </div>

      <div class="col-12 col-md-4 mb-4">
        <ProductBoxLoading/>
      </div>

    </div>
  </section>
</template>
