<template>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">
        {{ name }}
      </h5>
      <p class="card-text small">
        {{ desc }}
      </p>
      <div>
        Cena: {{ price }} zł
      </div>
    </div>
  </div>
</template>

<script lang="ts" setup>
import {iProductBox} from '~/types';

interface Props {
  data: iProductBox,
}

const props = defineProps<Props>();
const {name, desc, price} = props.data;
</script>
