<template>

  <div class="card">
    <div class="card-body placeholder-glow">
      <h5 class="card-title">
        <span class="placeholder col-6"></span>
      </h5>
      <p class="card-text">
        <span class="placeholder col-7"></span>
        <span class="placeholder col-4"></span>
        <span class="placeholder col-4"></span>
        <span class="placeholder col-6"></span>
        <span class="placeholder col-8"></span>
      </p>
      <div>
        Cena: <span class="placeholder col-3"></span>
      </div>
    </div>
  </div>

</template>
