<template>
  <section class="container grid pt-4 pb-4">
    <div class="row">

      <div v-if="isEmpty"
           class="alert alert-primary">
        Nie znaleziono produktów
      </div>

      <div v-else
           v-for="product in products"
           class="col-12 col-md-4 d-flex mb-4">
        <ProductBox
            key="product.id"
            :data="product"
        />
      </div>

    </div>
  </section>
</template>

<script lang="ts" setup>
interface Props {
  products: [],
}

const {products} = defineProps<Props>();
const isEmpty = ref<boolean>(products?.length === 0);
</script>
