<template>
  <div class="bg-white">
    <section class="container pt-5 pb-5">
      <input :value="currentSearchQuery"
             class="form-control"
             placeholder="Szukaj produktu"
             type="text"
             @keyup="keyUpHandler"
      />
    </section>
  </div>
</template>

<script lang="ts" setup>
interface Props {
  currentSearchQuery: string,
}

const {currentSearchQuery} = defineProps<Props>();
const emit = defineEmits(['changeSearchQuery']);

const keyUpHandler = (event: Event) => {
  const target: HTMLInputElement = event.target as HTMLInputElement;
  emit('changeSearchQuery', target.value);
}
</script>
